In [2]:
#importações
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [3]:
dados = pd.read_csv('pnad23_filtrado.csv')

In [6]:
dados.head(5)

,Estado,Sexo,Idade,Cor_ou_Raça,Escolaridade,Ocupação,Faixa_de_rendimento,Rendimento_Bruto
0,Rondônia,Homem,30,Parda,Regular do ensino médio ou do 2º grau,Conta Própria,[3SM]+1 a [5SM],5000.0
1,Rondônia,Mulher,50,Parda,Superior - graduação,Empregado do setor público (inclusive empresas...,[2SM]+1 a [3SM],3500.0
2,Rondônia,Mulher,54,Branca,Superior - graduação,Empregado do setor público (inclusive empresas...,[2SM]+1 a [3SM],3700.0
3,Rondônia,Homem,36,Parda,Regular do ensino fundamental ou do 1º grau,Conta Própria,[2SM]+1 a [3SM],3300.0
4,Rondônia,Homem,33,Branca,Regular do ensino médio ou do 2º grau,Conta Própria,[2SM]+1 a [3SM],3500.0

In [7]:
dados.Escolaridade.head(5)

0          Regular do ensino médio ou do 2º grau
1                           Superior - graduação
2                           Superior - graduação
3    Regular do ensino fundamental ou do 1º grau
4          Regular do ensino médio ou do 2º grau
Name: Escolaridade, dtype: object

In [8]:
display(pd.Series(dados.columns).to_frame())

                     0
0               Estado
1                 Sexo
2                Idade
3          Cor_ou_Raça
4         Escolaridade
5             Ocupação
6  Faixa_de_rendimento
7     Rendimento_Bruto

In [10]:
dados.dtypes

Estado                  object
Sexo                    object
Idade                    int64
Cor_ou_Raça             object
Escolaridade            object
Ocupação                object
Faixa_de_rendimento     object
Rendimento_Bruto       float64
dtype: object

In [11]:
dados['Escolaridade']

0               Regular do ensino médio ou do 2º grau
1                                Superior - graduação
2                                Superior - graduação
3         Regular do ensino fundamental ou do 1º grau
4               Regular do ensino médio ou do 2º grau
                             ...
175176                           Superior - graduação
175177                           Superior - graduação
175178               Especialização de nível superior
175179                           Superior - graduação
175180                           Superior - graduação
Name: Escolaridade, Length: 175181, dtype: object

In [12]:
dados['Rendimento_Bruto']

0          5000.0
1          3500.0
2          3700.0
3          3300.0
4          3500.0
           ...
175176     5000.0
175177     3500.0
175178    10000.0
175179     5000.0
175180     5000.0
Name: Rendimento_Bruto, Length: 175181, dtype: float64

In [ ]:
#Calculando média para cada tipo de escolaridade 
media_salario = dados.groupby('Escolaridade')['Rendimento_Bruto'].mean()
media_salario.to_frame()

                                                    Rendimento_Bruto
Escolaridade
Alfabetização de jovens e adultos                        1166.118881
Antigo científico, clássico, etc. (médio 2º ciclo)       3239.437500
Antigo ginásio (médio 1º ciclo)                          2135.835387
Antigo primário (elementar)                              1720.580989
Classe de alfabetização - CA                              993.057121
Creche (disponível apenas no questionário anual...        920.000000
Doutorado                                               11534.009063
Educação de jovens e adultos (EJA) ou supletivo...       1505.987119
Educação de jovens e adultos (EJA) ou supletivo...       1937.792736
Especialização de nível superior                         6712.481419
Mestrado                                                 9030.926513
Pré-escola                                               1194.675889
Regular do ensino fundamental ou do 1º grau              1646.163708
Regular do ensino médio ou do 2º grau                    2033.459769
Superior - graduação                                     4313.732282

In [16]:
#Calculando mediana para cada tipo de escolaridade
mediana_salario = dados.groupby('Escolaridade')['Rendimento_Bruto'].median()
mediana_salario.to_frame()

                                                    Rendimento_Bruto
Escolaridade
Alfabetização de jovens e adultos                              960.0
Antigo científico, clássico, etc. (médio 2º ciclo)            2000.0
Antigo ginásio (médio 1º ciclo)                               1500.0
Antigo primário (elementar)                                   1320.0
Classe de alfabetização - CA                                   700.0
Creche (disponível apenas no questionário anual...             600.0
Doutorado                                                    10000.0
Educação de jovens e adultos (EJA) ou supletivo...            1320.0
Educação de jovens e adultos (EJA) ou supletivo...            1500.0
Especialização de nível superior                              5000.0
Mestrado                                                      6100.0
Pré-escola                                                    1300.0
Regular do ensino fundamental ou do 1º grau                   1320.0
Regular do ensino médio ou do 2º grau                         1500.0
Superior - graduação                                          3000.0